Repository cse110-fa22-group24/cse110-fa22-group24, pull requests merged in 2022-11, with the labels that each got.

#29 Add ADR for storage method
  specs/adrs/110822-storage-method.md
Labels: backend, specs

#35 Add Sprint Retro 1 Meeting Notes
  admin/meetings/111422-retrospective.md
Labels: admin

#34 Add Sprint Review 1 Meeting Notes
  admin/meetings/111422-sprint-1-review.md
Labels: admin

#36 added drawio diagram for ci pipeline
  admin/cipipeline/phase1.drawio.png
Labels: admin

#52 Update job-details in form by merging changes from branch
  source/reference/job-details.html
  source/scripts/JobDetails.js
Labels: frontend

#63 Add Sprint 2 Review and Retrospective
  admin/meetings/112822-retrospective.md
  admin/meetings/112822-sprint-2-review.md
Labels: admin

#60 Current frontend progress
  source/assets/agenda.png
  source/assets/profile.svg
  source/index.html
  source/reference/form.html
  source/reference/job-details.html
  source/reference/sort-bar.html
  source/scripts/JobDetails.js
  source/scripts/SortBar.js
  source/scripts/main.js
  source/style.css
  source/styles/form.css
  source/styles/main.css
Labels: frontend, sprint 1, sprint 2

#64 Add JSDoc documentation generation
  .github/workflows/deploy.yml
  README.md
Labels: pipeline

#65 Add eslint, puppeteer, dependencies and integration with deploy
  .eslintrc.yml
  .github/workflows/ci.yml
  .github/workflows/deployment.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  jest-puppeteer.config.js
  package-lock.json
  package.json
  source/scripts/JobDetails.js
  source/scripts/SortBar.js
  source/scripts/helloWorld.js
  source/scripts/main.js
  source/test/helloWorld.test.js
  source/test/helloWorldPuppeteer.test.js
Labels: pipeline
